<div class="error-container">
  <img src="assets/images/error-service.svg" alt="Error de servicio" class="error-image">
  <h1 class="error-title">Servicio no disponible</h1>
  <p class="error-message">
    Lo sentimos, no se ha podido cargar el servicio en este momento.<br>
    Por favor, intenta nuevamente más tarde.
  </p>
        <a class="btn btn-login rounded-pill px-4 fw-semibold d-inline-flex align-items-center text-decoration-none" href="http://localhost:4200/home">
        <i class="bi bi-person-circle me-2"></i>Iniciar sesión
        </a>
</div>
<app-footer></app-footer>