<app-navbar></app-navbar>
<div class="login-container">
  <video autoplay muted loop class="bg-video">
    <source src="assets/videos/Nullscapes 3.mp4" type="video/mp4">
    Tu navegador no soporta videos HTML5.
  </video>

  <div class="login-overlay">
    <form class="login-form">
      <h2>Iniciar Sesión</h2>
      <input type="text" placeholder="Usuario" required>
      <input type="password" placeholder="Contraseña" required>
      <button type="submit">Entrar</button>
    </form>
  </div>
</div>
<app-footer></app-footer>