:root {
  --brand-purple: #8584AF;
  --brand-light-purple: #9b4dff;
  --brand-dark-purple: #4b0082;
  --brand-gray-light: #f5f5f5;
  --brand-gray-dark: #333;
}

/* Aplica en elementos */
.navbar {
  background-color: var(--brand-purple);
}
.btn-login {
  background-color: var(--brand-light-purple);
  color: white;
}
.footer {
  background-color: var(--brand-dark-purple);
  color: white;
}
body {
  background-color: var(--brand-gray-light);
  color: var(--brand-gray-dark);
}